## eclipse project files
/.classpath
/.project
/.settings

## intellij project files
/.idea
/*.iml

## vim files
*.swo
*.swp

## hide changes on experimental projects
/jetty-nosql-memcached-gson
/jetty-nosql-memcached-msgpack
/jetty-nosql-memcached-protostuff
/jetty-nosql-redis

## maven artifacts
/target

## others
*~
*.orig
/tmp
